@model IEnumerable<BiblionetModel.Models.Registro>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="charset" content="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="text-align:center center" class="text-primary text-center">Listado De Registros</h2>
                <div class="row">
                    <div class="col-12 bg-primary">
                        <a class="btn btn-danger float-left btn-lg p-1 m-1" href="/Registros/Create" role="button">CREAR NUEVO</a>
                        <a class="btn btn-success btn-lg p-1 m-1" href="/Asignatura/Index" role="button">ASIGNATURAS</a>
                        <a class="btn btn-warning float-left btn-lg p-1 m-1" href="/Libro/Index" role="button">LIBROS</a>
                        <a class="btn btn-light float-left btn-lg p-1 m-1" href="/Home/Index" role="button">INICIO</a>
                    </div>
                        <table class="table table-bordered">
                            <tr class="table-primary">
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Asignatura.ASIGNATURA)
                                </th>
                                <th class="text-center">
                                    @Html.DisplayNameFor(model => model.Libro.Titulo)
                                </th>
                                <th class="text-center">Acciones</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Asignatura.ASIGNATURA)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Libro.Titulo)
                                    </td>
                                    <td class="text-center">
                                        <a href="/Registro/Edit" class="btn btn-warning" role="button">Editar</a> |
                                        <a href="/Registro/Details" class="btn btn-success" role="button">Detalles</a> |
                                        <a href="/Registro/Delete" class="btn btn-danger" role="button">Borrar</a>
                                    </td>
                                </tr>
                            }

                        </table>

                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>

